<widget id="org.invariable.dosci" version="0.0.1">
    <name>DOSCI</name>
    <description>
        The DOSCI mobile app is used to help screen for cognitive impairment (problems with thinking or memory), which is one part of medical fitness to drive.
    </description>
    <author email="rwadholm@indiana.edu" href="http://invariable.org">
        Invariable, LLC
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <icon src="img/logo.png"/>
    <icon src="www/res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
    <icon src="www/res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
    <icon src="www/res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
    <icon src="www/res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <icon src="www/res/icon/blackberry/icon-80.png" gap:platform="blackberry"/>
    <icon src="www/res/icon/blackberry/icon-80.png" gap:platform="blackberry" gap:state="hover"/>
    <icon src="www/res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57"/>
    <icon src="www/res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="www/res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
    <icon src="www/res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
    <icon src="www/res/icon/webos/icon-64.png" gap:platform="webos"/>
    <icon src="www/res/icon/windows-phone/icon-48.png" gap:platform="winphone"/>
    <icon src="www/res/icon/windows-phone/icon-173-tile.png" gap:platform="winphone" gap:role="background"/>
</widget>